@import 'styles/shared.scss';

.FilmEditor {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 20px;
  margin: auto;
}

.TodoEditor__textarea {
  height: 1.5 * 3 + 24px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  line-height: 1.5;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 12px;
}

.TodoEditor__button {
  width: 200px;
  border: none;
  margin-left: auto;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #6b5472;
  color: #fff;
  font-weight: 500;
  margin: auto;
  margin-top: 30px;

  &:hover,
  &:focus {
    background-color: #6b5472;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.Film__input {
  height: 25px;
}

.Film__input + .Film__input {
  margin-top: 20px;
}
