@import 'styles/shared.scss';

.IconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: #fff;
  font: inherit;
  background-color: #6b5472;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);

  &:focus {
    outline: none;
  }
}
