@import 'styles/shared.scss';

.IconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: $white-color;
  font: inherit;
  background-color: $main-color;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: background-color 250ms linear;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $hover-color;
  }
}
