@import 'styles/shared.scss';

.Films__buttons {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.Films__list {
  list-style-type: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Films__item {
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.75);
  width: 70%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
}

.Films__item + .Films__item {
  margin-top: 20px;
}

.Films__title {
  text-align: center;
  font-size: 24px;
}

.Films__release {
  font-weight: 600;
  font-size: 18px;
}

.Films__btn {
  display: block;
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
  background-color: $main-color;
  transition: background-color 250ms linear;
  border: none;
  color: $white-color;

  &:hover {
    background-color: $hover-color;
  }
}
